/* Customize your main colors in :root variables */
:root {
  --main-background-color: #ff9900;
  --card-background-color: #fffb00;
  --card-background-lighter-color: #f5ef9c;
  --main-text-color:#000000;
  --title-text-color:#000000;
}

body{
  background-color:var(--main-background-color);
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



